:root {
  --primary-color: #763ade;
  --secondary-color: #8a51eb;
  --highlight-color: #3a81de;
  --gradient-color: #5d33a6;
  --background-color: #000000;
  --text-color: #fff;
  --light-text-color: #aaa;
  --shadow-color: rgba(118, 58, 222, 0.6);
  --light-shadow-color: rgba(125, 112, 237, 0.6);
  --border-color: rgba(255, 255, 255, 0.1);
}

body.light {
  --primary-color: #5b17e6;
  --secondary-color: #6d3eed;
  --highlight-color: #377ade;
  --gradient-color: #4c2a96;
  --background-color: #000000;
  --text-color: #000;
  --light-text-color: #555;
  --shadow-color: rgba(91, 23, 230, 0.4);
  --light-shadow-color: rgba(109, 62, 237, 0.4);
  --border-color: rgba(0, 0, 0, 0.1);
  background: url(../assets/img/_.png);
  background-size: cover;
  background-position: center;
}
body.light main {
  background-color: rgba(255, 255, 255, 0.4) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  background: url(../assets/img/_.webp);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-color: #000;
  background-size: 85%;
  background-position-x: right;
  background-attachment: fixed;
  background-position-y: top;
  font-family: "mulish", sans-serif;
  display: flex;
  align-items: left;
  justify-content: start;
  flex-direction: column;
  padding-left: 80px;
  height: 100vh;
  padding-top: 80px;
  transition: none;
  overflow-y: hidden;
}

body.blur {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  transition: all 0.2s ease-in-out;
}

h1 {
  color: var(--text-color);
  font-size: 75px;
  font-weight: 800;
  letter-spacing: 1.5px;
  text-shadow: 1px 1px 10px var(--shadow-color);
}

#greeting {
  color: var(--secondary-color);
  font-size: 90px;
}

#form {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  margin-top: 80px;
  gap: 10px;
}
#form input {
  width: 100%;
  height: 50px;
  border-radius: 20px;
  border: none;
  padding: 0 20px;
  outline: none;
  font-size: 18px;
  box-shadow: 1px 1px 10px var(--shadow-color);
  background-color: transparent;
  color: var(--text-color);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#form input::-moz-placeholder {
  color: var(--light-text-color);
}
#form input::placeholder {
  color: var(--light-text-color);
}
#form input:focus {
  box-shadow: 1px 1px 10px var(--light-shadow-color);
}
#form input::-webkit-outer-spin-button, #form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#form input[type=number] {
  -moz-appearance: textfield;
}
#form label {
  color: var(--text-color);
  text-align: start;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  font-family: DM Sans;
}
#form button {
  width: 100%;
  height: 50px;
  border-radius: 20px;
  border: none;
  padding: 0 20px;
  outline: none;
  font-size: 20px;
  box-shadow: 1px 1px 10px var(--shadow-color);
  cursor: pointer;
  color: var(--text-color);
  margin-top: 20px;
  background: linear-gradient(45deg, var(--highlight-color), var(--gradient-color));
  transition: all 0.3s ease;
}
#form button:hover {
  box-shadow: 1px 1px 10px var(--light-shadow-color);
  font-size: 22px;
}

main {
  position: absolute;
  right: 80px;
  height: calc(100vh - 140px);
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(200px);
          backdrop-filter: blur(200px);
  max-width: 45vw;
  width: 40vw;
  border-radius: 30px;
  border: 1px solid var(--border-color);
  box-shadow: 1px 1px 10px var(--shadow-color);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 30px;
  transition: all 0.3s ease;
}
main::-webkit-scrollbar {
  width: 10px;
}
main .stick {
  width: 100%;
  height: 1px;
  border-bottom: 2px solid var(--border-color);
  margin: 20px 0;
}
main p {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  text-shadow: 1px 1px 10px var(--gradient-color);
  margin-left: 20px;
}
main a {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  display: block;
  text-shadow: 1px 1px 10px var(--shadow-color);
  margin-left: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}
main a:hover {
  text-decoration: underline;
  text-decoration-color: var(--gradient-color);
}
main span {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 500;
  text-shadow: 1px 1px 10px var(--shadow-color);
}

#theme-toggle {
  position: absolute;
  top: 40px;
  left: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  box-shadow: 1px 1px 10px var(--shadow-color);
  background-color: #4c2a96;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
}

main {
  padding: 20px;
  gap: 10px;
}
main .user {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 0 8px rgba(139, 52, 198, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main ul {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}
main .btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .btns button {
  width: 70px;
  height: 30px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: var(--text-color);
}
main .btns #edit {
  background-color: #4c2a96;
}
main .btns #delete {
  background-color: #ff0000;
}
main li {
  display: flex;
  align-items: center;
}
main p {
  margin: 0 0 0 10px;
}

.loader {
  width: 40px;
  height: 40px;
  --c: no-repeat linear-gradient(#7e40d0 92%, #000 0 0);
  background: var(--c), var(--c), var(--c), var(--c);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: 21px 21px;
  animation: l5 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes l5 {
  0% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  }
  33% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    width: 60px;
    height: 60px;
  }
  66% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    width: 60px;
    height: 60px;
  }
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
  }
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 40px;
  }
  h1 span {
    font-size: 50px !important;
  }
  form {
    width: 40% !important;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
  }
  main {
    position: static;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(200px);
            backdrop-filter: blur(200px);
    max-width: 100vw;
    width: 80vw;
    margin: 40px 0;
    border-radius: 30px;
    border: 1px solid var(--border-color);
    box-shadow: 1px 1px 10px var(--shadow-color);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 30px;
    transition: all 0.3s ease;
  }
  h1 {
    display: none;
  }
  form {
    margin-top: 40px !important;
    width: 80vw !important;
  }
  input {
    width: 100% !important;
  }
}/*# sourceMappingURL=main.css.map */